* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --phone-width: 375px;
    --phone-height: 667px; 
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    background-color: black;
    border: 2px solid black;
    padding: 20px;
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.top {
    height: 50px;
    
    display: flex;

    justify-content: center;
    align-items: center;
}

.speaker {
    width: 90px;
    height: 7px;
    background-color: rgba(211, 211, 211, 0.808);

    border-radius: 10px; 
}

.display {
    width: var(--phone-width);
    height: var(--phone-height);
    
    background-color: white;
}

.bottom {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: black;
    border: 2px inset gray;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.display {
    display: grid;
    grid-template-columns: calc(var(--phone-width) / 2) calc(var(--phone-width) - 10px);
    grid-template-rows: 1fr;

    padding: 5px;
    column-gap: 5px;
}

.menu {
    border: 1px solid black;
}

.visible {
    display: grid;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 5px;
}

.content > * {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
}

header input {
    position: absolute;
    height: 100%;

    left: 0px;
}

header .header-text {
    align-self: center;
}

header {
    display: flex;
}